@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.shimmer-title {
  width: 220px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  margin-bottom: 1rem;
  animation: shimmer 3s infinite linear;
}
.shimmer-content {
  width: 200px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  margin-bottom: 1rem;
  animation: shimmer 3s infinite linear;
}
.shimmer-user {
  width: 180px;
  height: 30px;
  background-color: grey;
  border-radius: 15px;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0%,
  100% {
    background-color: grey;
  }
  50% {
    background-color: black;
  }
}
